body {
    padding: 0;
    margin: 0;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    
}

.navbar.solid {
    background-color: #00a6bb;
    transition: background-color 0.3s ease 0s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

nav img {
    height: 2rem;
    padding-right: 0.5rem;
}

hr {
    background-color: #00a6bb;
    height: 2px;
}

.carousel .carousel-item {
    max-height: 100vh;
    min-width: auto;
  }

.quienes-somos-icon, footer {
    background-color: #00a6bb;
}

.card {
    background-color: #00a6bb;
    overflow: hidden;
    border: #fff 1px solid;
}

.card img {
    height: 9rem;
    object-fit: cover;
}


.tooltip-inner {
    background-color: #00a6bb !important;
    color: #fff ;
  }
  .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #00a6bb !important;
  }
  
  .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #00a6bb !important;
  }
  
  
  .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #00a6bb !important;
  }
  
  
  .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #00a6bb !important;
  }

  .modal-body {
      overflow: hidden;
  }
  .modal-body img {
      width: 100%;
  }